*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo{
    position: fixed;
    background: url("./images/Login.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    inset:0;
} 

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenido{
    position: relative;
    width: 90%;
    max-width: 1500px;
    background: rgba(0, 0, 0, 0.8);
    border: solid 2px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    margin-top: 60px;
}

.contenido h2{
    text-align: center;
    font-size: 36px;
    color: #fff;
    margin: 15px 15px;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.formGroup {
    flex: 1 1 calc(25% - 15px);
    max-width: calc(25% - 15px);
    display: flex;
    flex-direction: column;
}

.formGroup input{
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    height: 30px;
    outline: none;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    background: transparent;
    color: #fff;
}

label{
    display: block !important;
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
    text-align: center;

}

input:focus{
    border-color: #fff;
}

.return_login{
    position: relative;
    width: 100%;
}

.exintente_register{
    position: absolute;
    left: 10px;
}

.exintente_register:hover{
    color: #fff;
}

.btn_register, .cancelar {
    width: 40%;
    position: relative;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    margin-top: 20px;
}
  
.btn_register {
    background: #28a745;
    color: white;
}

.btn_register:hover {
    background: #218838;
    border: none;
}

.cancelar {
    background: #dc3545;
    color: white;
}

.cancelar:hover {
    background: #c82333;
    color: #fff;
}

.controllers{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.error{
    position: fixed;
    top: 50%;
    right: 7%;
    color: red;
}

.roles {
    display: flex;
    align-items: center;
    gap: 10px;
}

.roles label {
    position: static;
}


.roles input[type="radio"] {
    accent-color: #218838;
}

@media screen and (max-width: 720px) {
    .contenido {
      width: 95%;
      padding: 20px 15px;
      margin-top: 30px;
    }
  
    .contenido h2 {
      font-size: 24px;
    }
  
    .formGroup {
      flex: 1 1 100%;
      max-width: 100%;
    }
  
    .btn_register {
      font-size: 1rem;
      padding: 8px 12px;
    }
}
  