*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("images/Home.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

h1{
    position: relative;
    margin-bottom: 20px;
    color:#fff;
}

.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Espaciado entre las columnas */
    width: 80%;
    margin: 0 auto; /* Centrar el grid dentro del contenedor */
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* background: transparent; */
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}