.fondo {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/Home.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    inset: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 100%;
}

.titulo {
    margin-bottom: 20px;
    color: #fff;
}

.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
