.loading {
  font-size: 20px;
  font-weight: bold;
  color: rgb(62, 62, 243);
}

.dot1, .dot2, .dot3 {
  animation: aparecer 1.5s infinite both;
  opacity: 0;
}

.dot1 {
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 0.3s;
}

.dot3 {
  animation-delay: 0.6s;
}

@keyframes aparecer {
  0% { opacity: 0; }
  20% { opacity: 1; }
  100% { opacity: 0; }
}