.fondo{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/Login.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    inset: 0;
}

.contenido{
    width: 420px;
    border-radius: 15px;
    border: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px); 
    padding: 40px 30px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.6);
}

.login{
    font-size: 36px;
    color: #fff;
    margin-bottom: 15px;
}

.loginForm{
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.loginForm input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: solid 1px white;
    color: #fff;
    padding-left: 5px;
    padding-right: 35px;
}

.loginForm label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #fff;

}

.loginForm input:focus ~ label,
.loginForm input:not(:placeholder-shown) ~ label {
  font-size: 0.8rem;
  transform: translateY(-120%);
  top: 10px;
}


.loginForm i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #fff;
    cursor: pointer;
}

.Submit {
    width: 100%;
    position: relative;
    margin-top: 15px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.2rem;
  }
  
.Submit:hover {
    background: #c0c0c0;
    color: black;
    border: 2px solid #c0c0c0;
}
  