
.image_container {
    margin-top: 220px;
    height: 300px;
    width: 100%;
}

.image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre{
    position: relative;
    top: 55px;
    font-size: 10px;
}

.descripcion p{
    margin-top: 70px;
    text-align: justify;
}

.temas {
  position: absolute;
  top: 60px;       /* ajusta para separación arriba */
  left: 10px;      /* ajusta para separación izquierda */
  display: flex;
  right: 50%;
  transform: translateX(50%);
  gap: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

