
.image_container {
    margin-top: 220px;
    height: 300px;
    width: 100%;
}

.image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre{
    position: relative;
    top: 55px;
    font-size: 10px;
}

.descripcion p{
    margin-top: 70px;
    text-align: justify;
}

.temas {
  position: absolute;
  top: 60px;       /* ajusta para separación arriba */
  left: 10px;      /* ajusta para separación izquierda */
  display: flex;
  right: 50%;
  transform: translateX(50%);
  gap: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.loading {
  font-size: 20px;
  font-weight: bold;
  color: rgb(62, 62, 243);
}

.dot1, .dot2, .dot3 {
  animation: aparecer 1.5s infinite both;
  opacity: 0;
}

.dot1 {
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 0.3s;
}

.dot3 {
  animation-delay: 0.6s;
}

@keyframes aparecer {
  0% { opacity: 0; }
  20% { opacity: 1; }
  100% { opacity: 0; }
}