*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Calibri';
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    background: black ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    z-index: 10;
    font-family: 'Calibri';
}

nav a {
    color: white !important; /* Fuerza el color blanco */
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 1.2rem;
    list-style: none;
    height: 32px;
}

ul li {
    display: grid;
    place-content: center;
    margin: 0;
}

.link-home {
    margin-right: 1.2rem;
}

.link-home a {
    text-decoration: none;
    color: white;
}

/* Efecto barra abajo de los links al interactuar*/
.link {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}

.link:hover::before{
    transform: scale(1);
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .5s ease;
    bottom: 0;
    left: 0;
}
/* FINAL EFECTO BARRA*/

.buscador{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#search{
    border: none;
    height: 30px;
    border-radius: 15px ;
    width: 200px;
    padding: 15px;
}